body{font-family: Georgia, 'Times New Roman', Times, serif;
font-size: medium;
font-style: italic;}
.para1{border-radius: 20px;
width:auto;
height: 163px;
margin: 20px;
padding: 10px;
background-color: rgba(255, 255, 0, 0.5);
text-indent: 50px;
text-align: center;}
.ul{border-radius: 10px;
width: auto;
height: auto;
margin: 20px 10px;
color: rgba(0, 0, 255, 0.8);
background-image: url(../HTML/assest/rgb\ theme.jpg);
font-size: larger;
padding: 10px 30px;}
.imgmain{border-radius: 20px;
width: 80%;}
.round{border-radius: 20px;}